<!DOCTYPE html>
<html>
<head>
</head>
<h1>Andrew's TinyApp</h1>
<body>
    <form action="/login" method="GET" style="width: 100px"><input type="submit" value="Log-In"></form>
    <form action="/register" method="GET" style="width: 100px"><input type="submit" value="Register"></form>
</body>
</html>