<!DOCTYPE html>
<html>
<head>
    <title>Andrew's TinyApp</title>
</head>
<body>
    <% if(username){ %>
        <p><%= username %></p>
        <form action="/logout" method="POST"">
            <input type='submit' value="Log Out">
        </form>
    <% } else { %>
        <form action="/login" method="POST" style="margin:150px;">
        <label>Log-In</label>
        <input type="text" name="username" style="width: 100px">
        <input type="submit" value="Enter"></form>
    <% } %>
</body>
</html>