<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Log-In</h1>
  <p>Please <a href="/register">register</a> before logging in.</p>
  <form action="/login" method="POST">
    <label>Email: </label>
    <input type="text" name="email" placeholder="Email">
    <label>Password: </label>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
  </form>
</body>
</html>