<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:100px;">
      <label>ShortURL: <%= shortURL%></label>
      <input type="text" name="longURL" value="<%= longURL%>" style="width: 300px">
      <input type="submit" value="Update">
    </form>
  </body>
</html>