<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>
    <% include partials/_header %>
    <style>
      table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<table>
  <tr>
    <th>URL</th>
    <th>URL ID</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

    <% for (var shortURL in urls) { %>
      <tr>
        <td><%= urls[shortURL] %></td>
        <td><%= shortURL %></td>
        <td><a href="/urls/<%= shortURL %>" style="color:#800000">Edit</a></td>
        <td><form action="/urls/<%= shortURL %>/delete" method="POST">
      <input type="submit" value="Delete"></form></td>
    </form>
      </tr>

    <% } %>
  </body>
</html>